html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 5vh;
    align-items: center;
    background-color: white;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: flex;
    animation: marquee 20s linear infinite;
    min-width: 200%;
    will-change: transform;
}

/* Keyframes for infinite scrolling without gaps */
@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
