html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-page-background {
    background-image: url('/Bg.png'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}